<footer id="copyright" class="flexGrow1">

    <span>Email: <address>theomniologycollection@gmail.com</address></span>

    <span>Copyright &copy; 2021 All Rights Reserved <br>Omniology Site</span>

    <div id="siteAuthor">
        <span>Site Author: Dustin Webber</span>
        <address>webber.dustin@outlook.com</address>
    </div>

</footer>