<footer id="copyright" class="flexGrow1">

    <span><br>Email: <address>theomniologycollection@gmail.com</address></span>

    <span><br>Copyright &copy; 2021 All Rights Reserved <br>Omniology Site</span>

    <p>
        <span>Our other stores:</span><br>
        <a href="amazon.com">Amazon</a><br>
        <a href="ebay.com">Ebay</a><br>
        <a href="etsy.com">Etsy</a>
    </p>

</footer>