<% layout('layouts/boilerplate'); %>

<main id="admin">
    <h1>Admin</h1>
    <div>
        <a href="admin/index"><button>View Items</button></a>
        <a href="admin/upload"><button>Upload New Item</button></a>
    </div>
</main>