<% layout('layouts/boilerplate'); %>

<main id="checkoutMain">
    <aside id="checkoutCart">
        <% for (let item of items) { %>
            <img class="checkoutPhoto" src="<%= item.PhotosSrc[0] %>">
        <% } %>
        <a href="/cart"><button>Back to Cart</button></a>
    </aside>
    <div id="custInfo">
        <form id="checkoutForm" method="POST">
            <fieldset>
                <h2>Shipping Information</h2>
                <div class="formGroup">
                    <label>Full Name<br><input type='text' id="shipName" required></label>
                    <label>Address<br><input type='text' id="shipAddress" required></label>
                    <label>State<br><input type='text' id="shipState" required></label>
                </div>
                <div class="formGroup">
                    <label>Email<br><input type='email' id="email" required></label>
                    <label>City<br><input type='text' id="shipCity" required></label>
                    <label>Zip<br><input type='text' id="shipZip" required></label>
                </div>
            </fieldset>

            <fieldset>
                <h2 id="billingTitle">Billing Information</h2>
                <div>
                    <input type="checkbox" id="sameAddress">
                    <label for="sameAddress">Address same as shipping information</label>
                </div>
                <div class="formGroup">
                    <label>Name on Card<br><input type='text' id="billName" required></label>
                    <label>Credit Card Number<br><input type='text' id="CCN" required></label>
                    <label>Address<br><input type='text' id="billAddress" class="same" required></label>
                    <label>State<br><input type='text' id="billState" class="same" required></label>
                </div>
                <div class="formGroup">
                    <label>Exp Month/Year (example 01/22)<br><input type='text' id="expDate" required></label>
                    <label>CCV<br><input type='text' id="CCV" required></label>
                    <label>City<br><input type='text' id="billCity" class="same" required></label>
                    <label>Zip<br><input type='text' id="billZip" class="same" required></label>
                </div>
            </fieldset>
        </form>
    </div>
    <div>
        <span>Total: $<%= total %></span>
        <button form="checkoutForm" id="checkoutButton">Confirm Order</button>
    </div>
</main>

<script src="https://js.stripe.com/v3/"></script>
<script src="/scripts/checkout.js"></script>