<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Landing page for 'The Omniology Collection'">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/home.css">
        <link rel="stylesheet" href="stylesheets/checkout.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap"> 
        <title>Checkout Items</title>
    </head>

    <body>
        <header>

            <!-- <img id="logo" src="images/Omniology Logo - No text.jpg" alt="Site Logo"> -->
            <span>
                <a href="index.html"> THE OMNIOLOGY COLLECTION </a>
            </span>

            <menu>
                <a class="weekBtn" href="week1.html">Week 1</a>
                <a class="weekBtn" href="week2.html">Week 2</a>
                <a class="weekBtn" href="week3.html">Week 3</a>
                <a class="weekBtn" href="week4.html">Week 4</a>
                <a href="cart.html"><img src="images/shopping-cart-24.png"></a>
            </menu>

        </header>

        <main>
            <h2>Shipping Information</h2>
            <form>
                <div>
                    <label>Full Name<br><input type='text' required></label>
                    <label>Address<br><input type='text' required></label>
                    <label>State<br><input type='text' required></label>
                </div>
                <div>
                    <label>Email<br><input type='email' required></label>
                    <label>City<br><input type='text' required></label>
                    <label>Zip<br><input type='text' required></label>
                </div>
            </form>

            <hr>

            <h2 id="billingTitle">Billing Information</h2>
            <form>
                <div>
                    <label>Name on Card<br><input type='text' required></label>
                    <label>Credit Card Number<br><input type='text' required></label>
                </div>
                <div>
                    <label>Exp Month/Year<br><input type='text' required></label>
                    <label>CCV<br><input type='text' required></label>
                </div>
            </form>

        </main>

        <footer id="copyright" class="flexGrow1">

            <span>Email: <address>theomniologycollection@gmail.com</address></span>

            <span>Copyright &copy; 2021 All Rights Reserved <br>Omniology Site</span>

            <p>
                <span>Our other stores:</span><br>
                <a href="amazon.com">Amazon</a><br>
                <a href="ebay.com">Ebay</a><br>
                <a href="etsy.com">Etsy</a>
            </p>

        </footer>

    </body>
</html>