<%- layout('layouts/boilerplate') %>
<main id="errorMain">
    <h1 class="flash">Error:<br><%= err.message %></h1>
    <% if(process.env.NODE_ENV !== "production") { %>
    <p><%= err.stack %></p>
    <% } %>
</main>