<% layout('layouts/boilerplate'); %>

<!-- <video> -->
<!-- <source src="themeVideo.mv4"> -->
<!-- </video> -->

<main>

    <section class="centralPiece">

        <section class="featuredSection">
            <h1>Theme of the Month: <i>Red</i></h1>
            <img id="featImg" src="images/<%= img %>" alt="Featured Image">
        </section>

        <h2>Also find us on Amazon and Etsy!</h2>

        <aside>
            <a href="onlineStores.com">
                <img src="images/amazon_logo.png" alt="Amazon logo">
            </a>
            <a href="onlineStores.com">
                <img src="images/etsy_logo.png" alt="Etsy logo">
            </a>
        </aside>

    </section>

    <section id="about">
        <h1>About Section</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a urna fringilla, pretium sem eu, aliquam ipsum.
            Maecenas elementum porttitor sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
            cubilia curae; Mauris sed nulla vitae est faucibus vehicula ac posuere nulla.</p>
        <p>Duis id egestas diam, in mollis mauris. Mauris faucibus lectus est, sed rutrum dolor vehicula in.
            Pellentesque scelerisque, eros in accumsan aliquam, mi lacus facilisis lacus, ut elementum erat mauris
            accumsan diam.</p>
    </section>

</main>

<script src="scripts/main.js"></script>