<% layout('layouts/boilerplate'); %>

<main>
    <section class="centralPiece">

        <section class="featuredSection">
            <img id="featImg" src="images/<%= img %>" alt="Featured Image">
            <div>
                <!-- <h2>Check Out Our Latest Video</h2> -->
                <video id="featVideo" controls>
                    <source src="videos/Practice Poop.mp4"
                    type="video/webm">
                </video>
            </div>
        </section>



    </section>
</main>

<script src="scripts/main.js"></script>