<% layout('layouts/boilerplate'); %>

<main>
    <table>
        <tr>
            <th>Edit</th>
            <th>Title</th>
            <th>Items</th>
        </tr>
        <% lots.forEach((lot, index) => { %>
            <tr>
                <td>
                    <a href="/admin/lot/edit/<%= lot._id %>"><button>Edit</button></a>
                </td>
                <td>
                    <p><%= lot.title %></p>
                </td>
                <td>
                    <% if (lot.lotPhoto) { %>
                        <img class="lotPhoto" src="<%= lot.PhotoSrc %>" alt="lotPhoto">
                    <% } %>
                </td>
            </tr>
        <% }); %>
    </table>
</main>

<script src="/scripts/itemIndex.js"></script>