<% layout('layouts/boilerplate'); %>
<main>
    <form method="POST" action="upload" id="uploadForm" enctype="multipart/form-data">
        <h1>Upload an Item</h1>
        <label>InventoryId (leave blank to auto-generate)<br><input type="text" name="InventoryId" autofocus></label>
        <label>Title<br><input type="text" name="Title"></label>
        <label>Description<br><textarea name="Description" rows="5" cols="33"></textarea></label>
        <label>PhotoThumbnails<br><input type="file" name="PhotoThumbnails" multiple></label>
        <label>Weight (in grams)<br><input type="number" step="any" name="Weight"></label>
        <label>Length (in inches)<br><input type="number" step="any" name="Length"></label>
        <label>Width (in inches)<br><input type="number" step="any" name="Width"></label>
        <label>Height (in inches)<br><input type="number" step="any" name="Height"></label>
        <label>AdditionalTests<br><input type="text" name="AdditionalTests"></label>
        <label>PurchasedFrom<br><input type="text" name="PurchasedFrom"></label>
        <label>PurchasePrice<br><input type="number" name="PurchasePrice" step=".01"></label>
        <label>ListPrice<br><input type="number" name="ListPrice" step=".01"></label>
        <label>SoldPrice<br><input type="number" name="SoldPrice" step=".01"></label>
        <label>ShippingDate<br><input type="date" name="ShippingDate"></label>
        <div>
            <label for="week"><br>Week</label>
            <select name="week" id="week">
                <option value="none">None</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>

            <label for="month">Month</label>
            <select name="month" id="month" disabled>
                <option value="01">January</option>
                <option value="02">February</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
            <label>Year<input type="text" name="year" id="year" disabled></label>
        </div>
        <label for="sold">Sold</label>
        <select name="Sold" id="sold">
            <option value="true">True</option>
            <option value="false" selected>False</option>
        </select>
        <button>Submit</button>
    </form>
</main>

<script src="/scripts/uploadItem.js"></script>