body {
    display: flex;
    margin: 0;
    /* background-image: url(images\Omniology\ Logo[504].jpg); */
    color: white;
    background-color: #1A1A1A;
    min-width: 320px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    font-family: 'Poiret One', 'Courier New', Courier, monospace;
    /* font-family: Helvetica; */
    /* min-width: 375px; */
}

header {
    color: #F4C314;
    background-color: #1A1A1A;
    text-align: center;
    font-size: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

header span {
    font-size: 3em;
    font-family: 'Poiret One', cursive, 'Courier New', Courier, monospace;
    font-weight: bold;
    flex-grow: 1;
}

header span a {
    text-decoration: none;
    color: #F4C314;
}

menu {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 5px;
}

menu a {
    padding: 10px;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

#topHeader {
    display: flex;
    justify-content: space-between;
}

#cartIcon {
    padding-left: 0;
    padding-right: 0;
}

.weekBtn {
    /* font-family: 'Fira Mono', monospace; */
    text-align: center;
    text-decoration: none;
    /* font-size: 1.2em; */
    color: #F4C314;
}

.weekBtn:hover {
    /* color: black; */
    /* background-color: white; */
    /* font-weight: bold; */
}

#weekBtns {
    display: none;
    position: relative;
}

main {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    font-weight: bold;
    min-height: 70vh;
}

#bodyDiv {
    width: 100%;
}

.centralPiece {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 20px;
    min-width: 300px;
    text-align: center;
}

.featuredSection {
    font-size: 1.5em;
    width: 100%;
    /* flex-grow: 2; */
    /* flex-shrink: 2; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

#featVideo {
    width: 600px;
    max-width: 90vw;
}

.centralPiece img {
    width: 50px;
}

.centralPiece a {
    text-decoration: none;
}

#featImg {
    width: 300px;
    max-width: 90vw;
    padding: 10px;
    transition: opacity 1s;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    text-align: center;
    padding: 10px;
    position: relative;
    font-weight: 700;
    font-size: 1.2em;
    min-width: 300px;
}

#about::before {
    content: "";
    background-image: url("../images/Omniology\ Logo\ -\ No\ text.jpg");
    background-repeat: round;
    background-size: cover;
    position: absolute;
    opacity: .2;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

#copyright {
    flex-grow: 1;
    color: white;
    height: 100px;
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

footer * {
    padding: 5px;
}

footer a {
    color: white;
}

button:hover {
    cursor: pointer;
}

#center {
    min-height: 65vh;
    margin: auto;
}

.dropdown {
    display: inline-block;
    position: relative;
    font-weight: bold;
}

.dropbtn {
    font-size: 24px; 
    line-height: 2;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: -85px;
    top: 0;
    z-index: 1;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
}

.dropdown-content a {
    display: block;
    padding: 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#themesDropdown {
    position: relative;
}

#mnthDropdown {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: black;
    border-radius: 5px;
    left: -25px;
    right: -20px;
    top: 35px;
    padding: 10px;
    font-size: 1.2em;
}

.themeContainer:hover #mnthDropdown {
    display: block;
}

#nextMonthThemeContainer, #nextNextMonthThemeContainer {
    position: relative;
}

#nextMnthRls, #nxtNxtMnthRls {
    position: absolute;
    display: none;
    z-index: 1;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2em;
    top: 50px;
    left: -18px;
}

#nextNextMonthThemeContainer:hover #nxtNxtMnthRls {
    display: block;
}

#nextMonthThemeContainer:hover #nextMnthRls {
    display: block;
}

.weekContainer {
    position: relative;
}

.weekCountdown {
    display: none;
    position: absolute;
    right: -90px;
    top: -2px;
    font-size: .8em;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    width: 80px;
}

.flash {
    text-align: center;
}

.accountForm {
    display: flex;
    flex-direction: column;
}

.accountForm button {
    width: 50%;
    padding: 5px;
    margin: 10px auto;
    border-collapse: collapse;
    border: none;
}

.accountForm input {
    padding: 5px;
    margin: 5px;
}

.accountForm label {
    margin: 5px;
}

.accountTitle {
    text-align: center;
}

#uploadForm {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#uploadForm input {
    margin-bottom: 10px;
}

#uploadForm button {
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f4c314;
}

#uploadForm label {
    margin-top: 10px;
}

#flashSuccess {
    text-align: center;
    font-size: 2em;
    background-color: #f4c314;
    color: black;
    font-weight: bold;
    width: 50%;
    margin: 0 auto 10px;
    border-radius: 10px;
}
#flashError {
    text-align: center;
    font-size: 2em;
    background-color: red;
    color: white;
    font-weight: bold;
    width: 50%;
    margin: 0 auto 10px;
    border-radius: 10px;
}

#errorMain {
    text-align: center;
    align-items: center;
    justify-content: center;
}

#itemTable {
    border: 1px solid white;
    width: 100%;
    border-collapse: collapse;
}

#itemTable th,td {
    border: 1px solid white;
    padding: 15px;
    text-align: center;
}

#itemDescription {
    min-width: 300px;
}

#itemId {
    min-width: 100px;
}

.photoThumbnail {
    max-width: 85%;
    display: none;
}

.lotPhoto {
    width: 200px;
}

.next,.prev {
   cursor: pointer; 
}

#admin {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#admin button {
    height: 50px;
    margin-top: 100px;
    margin-left: 50px;
}

.weekItems {
    margin: 20px;
}

.weekItems a {
    text-decoration: none;
    color: white;
}

.weekItems p {
    text-align: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.weekItems img {
    max-height: 250px;
    max-width: 90vw;
}

#weekMain {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#weekMain hr {
    width: 100%;
}

.weekCollection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.itemShowImg {
    width: 300px;
}

#itemShowMain {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#itemShowImgs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.prev {
    margin-right: 20px;
    font-size: 1.5em;
}

.next {
    margin-left: 20px;
    font-size: 1.5em;
}


#prevNext {
    margin-top: 20px;
}

#itemShowText {
    width: 500px;
    max-width: 90%;
}

#itemShowText p {
    font-size: 1.2em;
}

.itemShowPhoto {
    height: 80vh;
    max-height: 100vh;
}

#zoomPhoto {
    display: none;
}

#addToCart {
    padding: 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    width: 150px;
    margin-bottom: 30px;
    font-size: 1em;
}

#cartNum {
    position: absolute;
    border: 2px solid white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: .8em;
    right: -10px;
    color: #F4C314;
}

#cartDiv {
    display: flex;
    position: relative;
    margin-right: 5px;
}

#cartLink {
    display: flex;
    align-items: center;
    justify-content: center;
}

#cartMain {
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cartItem {
    width: 100%;
    margin-top: 50px;
}

.cartPhoto {
    width: 200px;
}

.itemRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.itemRow * {
    margin-left: 20px;
}

.cartText {
    display: flex;
    flex-direction: column;
}

.cartText h2 {
    width: 300px;
}

.cartText span {
    font-size: 1.2em;
}

.cartText button {
    padding: 5px;
    width: 30%;
}

#goToCheckout { 
    height: 50px;
    width: 175px;
    background-color: #F4C314;
    color: black;
    border-radius: 5px;
    font-size: 1em;
    border: none;
    margin-bottom: 30px;
}

.itemId {
    display: none;
}

#checkoutMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.checkoutPhoto {
    width: 100px;
}

#checkoutCart {
    display: flex;
    flex-direction: column;
}

#custInfo form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.formGroup {
    display: flex;
    flex-direction: column;
}

#custInfo form fieldset {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

#custInfo label {
    font-size: 1.2em;
}

#custInfo input {
    font-size: 1.2em;
    margin-top: 5px;
    margin-bottom: 15px;
}

.editPhotos {
    width: 150px;
}

#editHomepageForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.themes {
    /* margin-bottom: 0; */
    cursor: pointer;
    color: white;

}

.rlsMsg {
    margin-top: 0;
    display: none;
    font-size: 1.2em;
}

#collectAddressMain {
    flex-direction: column;
    align-items: center;
}

.collectAddressFields {
    display: flex;
}

.collectAddressFields label {
    font-size: 1.1em;
}

.collectAddressFields input,select {
    padding: 5px;
    margin-top: 5px;
}

#collectAddressForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#collectAddressForm label {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

#collectAddressMain button {
    margin-top: 35px;
    height: 50px;
    width: 175px;
    background-color: #F4C314;
    color: black;
    border-radius: 5px;
    font-size: 1em;
    border: none;
    margin-bottom: 30px;
    padding: 10px;
    font-size: 1em;
}

#sidebar {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    border-right: 2px solid white;
    /* position: relative; */
}

#tglArrow {
    position: absolute;
    left: 0;
    height: 50px;
    width: 30px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    color: black;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    z-index: 1;
}

#tglArrow span {
    position: absolute;
    top: 3px;
}

#sidebar #logo {
    width: 150px;
}

#headerThemes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
}

#outsideLinks {
    margin-top: 50px;
}

#outsideLinks h2 {
    text-align: center;
    font-size: 1.2em;
}

#uploadLotForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#uploadLotForm button {
    margin-top: 50px;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.lotItems {
    display: flex;
    flex-wrap: wrap;

}

.lotItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.lotItem span {
    text-align: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.lotItemImg {
    height: 200px;
}

@media screen and (max-width: 462px) {
    .itemRow * {
        margin-left: 0;
    }

    .cartText {
        align-items: center;
    }

    .cartText h2 {
        text-align: center;
    }
}

@media screen and (max-width: 625px) {
    #itemShowImgs {
        margin-right: 0;
    }

    .itemShowPhoto {
        height: auto;
    }

    .next {
        position: absolute;
        top: 225px;
        right: 5px;
    }

    .prev {
        position: absolute;
        top: 225px;
        left: 5px;
    }
}
